* {
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
    
}

.battle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.theSprites {
    display: flex;
    align-items: center;
    justify-content: center;

}

.theHeights {
    display: flex;
    align-items: center;
    justify-content: center;

}
.pokeball-img1, .pokeball-img2 {
    max-width: 200px;
    max-height: 200px;
}

html {
    height: 100%;
}

body {
    text-align: center;
    background-color: rgb(32, 32, 133);
    color: white;
    min-height: 100%;
   display: grid;
   /* grid-template-columns: repeat(10, 1fr) ;
   grid-template-rows: repeat(10, 1fr); */
}



.header {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.selector {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 4;
}

.pokeball-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.pokeball-2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
}

.button-press {
    
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}

.input-box1 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.input-box2 {
    display: grid;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 6;
}

.page2-name1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.page2-name2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}

.display-winner {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.sprite1 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.sprite2 {
    display: grid;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
}

.height-value1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.height-value2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 6;
}

.reset-button {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    height: 30px;

}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}