* {
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
    
}

.battle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.theSprites {
    display: flex;
    align-items: center;
    justify-content: center;

}

.theHeights {
    display: flex;
    align-items: center;
    justify-content: center;

}
.pokeball-img1, .pokeball-img2 {
    max-width: 200px;
    max-height: 200px;
}

html {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: rgb(32, 32, 133);
    color: white;
    min-height: 100%;
    display: grid;
   /* grid-template-columns: repeat(10, 1fr) ;
   grid-template-rows: repeat(10, 1fr); */
}


.reset-button {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    height: 30px;

}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}